* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  background: chocolate;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  min-width: 50%;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
  box-shadow: 0 0.5rem 10px 2.5px rgba(26, 26, 26, 0.192);
}

.search-container input:focus {
  box-shadow: 0 0.5rem 10px 5px rgba(26, 26, 26, 0.33);
}

/* 
   * It will change later 
   * Just for observation
*/
.flex-container {
  height: 65vh;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 198, 198);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffdede;
}

.flex-item {
  height: 20rem;
  width: 15rem;
  font-size: 0.75rem;
  backdrop-filter: blur(50px);
  background: #ffffff94;
  border-radius: 0.4rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
  * {
    font-size: 14px;
  }
  .flex-container {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  .search-container input {
    min-width: 90%;
    margin: 0 auto;
  }
  .flex-container {
    justify-content: center;
  }
}
.flex-item .logo {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  /* to avoid onclick event - want specifically to flex-item */
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item .logo img {
  width: 100%;
}
.flex-item .name {
  color: #333;
  font-size: 2.5em;
  font-family: Helvetica, sans-serif;
  /* to avoid onclick event - want specifically to flex-item */
  pointer-events: none;
}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem 0;
  font-family: verdana;
  font-size: 1.25rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#filter {
  display: none;
  pointer-events: none;
}
